In [6]:
import pandas as pd
import matplotlib.pyplot as plt
from datetime import datetime

# Display settings for pandas DataFrame
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [7]:
# Path to the CSV file
TRANSACTIONS_FILE = 'transactions.csv'

def add_transaction(date, description, amount, category):
    try:
        df = pd.read_csv(TRANSACTIONS_FILE)
    except FileNotFoundError:
        df = pd.DataFrame(columns=['date', 'description', 'amount', 'category'])

    new_transaction = pd.DataFrame({
        'date': [date],
        'description': [description],
        'amount': [amount],
        'category': [category]
    })
    
    df = pd.concat([df, new_transaction], ignore_index=True)
    df.to_csv(TRANSACTIONS_FILE, index=False)

def view_transactions():
    try:
        df = pd.read_csv(TRANSACTIONS_FILE)
        display(df)
    except FileNotFoundError:
        print("No transactions found. Add some transactions first.")

def generate_summary():
    try:
        df = pd.read_csv(TRANSACTIONS_FILE)
        total_income = df[df['amount'] > 0]['amount'].sum()
        total_expense = df[df['amount'] < 0]['amount'].sum()
        print(f"Total Income: ${total_income}")
        print(f"Total Expense: ${total_expense}")
    except FileNotFoundError:
        print("No transactions found. Add some transactions first.")

def generate_category_summary():
    try:
        df = pd.read_csv(TRANSACTIONS_FILE)
        summary = df.groupby('category')['amount'].sum()
        display(summary)
    except FileNotFoundError:
        print("No transactions found. Add some transactions first.")

def generate_monthly_summary():
    try:
        df = read_csv(TRANSACTIONS_FILE)
        df['date'] = pd.to_datetime(df['date'])
        df['month'] = df['date'].dt.to_period('M')
        summary = df.groupby('month')['amount'].sum()
        display(summary)
        summary.plot(kind='bar')
        plt.title('Monthly Summary')
        plt.xlabel('Month')
        plt.ylabel('Amount')
        plt.show()
    except FileNotFoundError:
        print("No transactions found. Add some transactions first.")

In [8]:
# Adding a new transaction
date = input("Enter date (YYYY-MM-DD): ")
description = input("Enter description: ")
amount = float(input("Enter amount: "))
category = input("Enter category: ")

add_transaction(date, description, amount, category)
print("Transaction added successfully!")

Enter date (YYYY-MM-DD): 2023-10-1
Enter description: less income
Enter amount: 150000
Enter category: 1
Transaction added successfully!

In [9]:
# View all transactions
view_transactions()

        date  description    amount  category
0  2023-10-1  less income  150000.0         1

In [10]:
# Generate summary report
generate_summary()

Total Income: $150000.0
Total Expense: $0.0

In [11]:
# Generate category summary report
generate_category_summary()

category
1    150000.0
Name: amount, dtype: float64